@import url('bootstrap');
@import url('bootstrap-icons');

header img{
  width: 80px;
  height: 40px;
}

.card img{
  object-fit: contain;
  height: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

#singleCard{
  width: 25%;
  margin-left: 35%;
}